#app {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 64px 50px;
    background: url(https://i.imgur.com/suLJP7e.jpg) no-repeat center center fixed;
    height: 100vh;
}
    